.userList-box {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #db3f29;
    background-image: linear-gradient(
        to right bottom,
        #db3f29,
        #dc6b35,
        #db8c4c,
        #dcaa6c,
        #dec493,
        #daba91,
        #d5b08f,
        #cea78e,
        #ba7973,
        #9a4e69,
        #692e68,
        #0b1f65
    );
}
